{{- $codespaces := env "CODESPACES" | not | not -}}
{{- $repo := env "GITHUB_REPOSITORY" | default "" -}}
{{- $dotcom := eq $repo "github/github" -}}
{{- $interactive := stdinIsATTY -}}

sourceDir = {{ .chezmoi.sourceDir | quote }}

[data]
    name = "Erwin Kroon"
    codespaces = {{ $codespaces }}
    repo = {{ $repo | quote }}
    dotcom = {{ $dotcom }}
    {{- if $codespaces }}{{/* Codespaces always uses default email */}}
    email = "ekroon@github.com"
    {{- else if $interactive }}{{/* Interactive setup, so prompt for an email address */}}
    email = {{ promptString "email" | quote }}
    {{- else }}{{/* Non-interactive (devcontainer, CI, etc.), so set a default email */}}
    email = "ekroon@github.com"
    {{- end }}
