{{- $codespaces:= env "CODESPACES" | not | not -}}
{{- $dotcom:= eq (env "GITHUB_REPOSITORY") "github/github" -}}
{{- $interactive := stdinIsATTY -}}

sourceDir = {{ .chezmoi.sourceDir | quote }}

[data]
    name = "Erwin Kroon"
    codespaces = {{ $codespaces }}
    dotcom = {{ $dotcom }}
    {{- if $interactive }}{{/* Interactive setup, so prompt for an email address */}}
    email = {{ promptString "email" | quote }}
    {{- else }}{{/* Non-interactive (Codespaces, devcontainer, etc.), so set a default email */}}
    email = "ekroon@github.com"
    {{- end }}
