export ZSH=$HOME/.oh-my-zsh
ZSH_THEME="robbyrussell"
ZSH_CUSTOM=$HOME/.ohmyzsh-custom
export ZSH_CACHE_DIR="${XDG_CACHE_HOME:-$HOME/.cache}/ohmyzsh"

export LS_COLORS='rs=0:di=1;36:ln=35:so=32:pi=33:ex=31:bd=34;46:cd=34;43:su=30;41:sg=30;46:tw=30;42:ow=30;43'

plugins=(git)

if command -v mise &> /dev/null
then
  plugins+=mise
fi

plugins+=configure-prompt

if command -v rails &> /dev/null
then
  plugins+=rails
fi

if command -v rbenv &> /dev/null
then
  plugins+=rbenv
fi

if [[ "$IS_AGENT" != "1" ]]; then
    plugins+=atuin
fi

source $ZSH/oh-my-zsh.sh

export SHELL=$(which zsh)

if command -v direnv &> /dev/null
then
  eval "$(direnv hook zsh)"
fi


{{if not .codespaces -}}
export TRY_PROJECTS_DIR="~/develop/tries"
{{- end }}
eval "$(mise x github:ekroon/try -- try init)"


{{if not .codespaces -}}
# Added by LM Studio CLI (lms)
export PATH="$PATH:/Users/erwin/.lmstudio/bin"
# End of LM Studio CLI section
{{- end }}

