typeset -U path PATH

function add_to_path() {
  if [[ -d $1 ]]; then
      path+=("$1")
  fi
}

add_to_path "$HOME/bin"
add_to_path "$HOME/.local/bin"
add_to_path "$HOME/.msrustup/bin"

{{ if eq .chezmoi.os "darwin" -}}
eval "$(/usr/local/bin/brew shellenv)"

{{ end -}}

if [ -f "$HOME/.cargo/env" ]; then
  . "$HOME/.cargo/env"
fi
