typeset -U path PATH

function add_to_path() {
  if [[ -d $1 ]]; then
      path+=("$1")
  fi
}

add_to_path "$HOME/bin"
add_to_path "$HOME/.local/bin"
add_to_path "$HOME/.local/share/mise/shims"
add_to_path "$HOME/.msrustup/bin"

export EDITOR="xdg-open"
export VISUAL="$EDITOR"

{{ if not .codespaces -}}
export GHQ_ROOT="$HOME/develop"
{{ end -}}

if [ -f "$HOME/.cargo/env" ]; then
  . "$HOME/.cargo/env"
fi
