#!/bin/bash
{{ if .codespaces -}}
if [ -n "${GH_GH_PAT}" ]; then
  echo "Set chezmoi remote to use GH_GH_PAT"
  chezmoi git -- remote set-url --push origin https://username:"${GH_GH_PAT}"@github.com/ekroon/dotfiles
else
  echo "Skipping setting chezmoi remote to use GH_GH_PAT"
fi
{{ end }}

# Check if ${ATUIN_USERNAME}, ${ATUIN_PASSWORD} and ${ATUIN_KEY} are set
if [ -z "${ATUIN_USERNAME}" ] || [ -z "${ATUIN_PASSWORD}" ] || [ -z "${ATUIN_KEY}" ]; then
  echo "ATUIN_USERNAME, ATUIN_PASSWORD and ATUIN_KEY must be set for atuin initialization"
else
  echo "Initializing atuin"
  atuin login -u "${ATUIN_USERNAME}" -p "${ATUIN_PASSWORD}" -k "${ATUIN_KEY}"
  atuin sync
fi
